# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Data files (Never commit large datasets)
data/raw/*
data/processed/*
data/splits/*

# Environments
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Model checkpoints (ignore large raw weights, track exported ONNX)
*.pt
checkpoints/*.pt
